body {
  color: #313131;
  background-color: #f9f9f9;
}

.ck.ck-label {
  display: none !important;
}

figure.table table {
  border-collapse: collapse;
  border: 1px solid black; /* Set your desired border style, color, and width */
}

figure.table td {
  border: 1px solid black; /* Set your desired border style, color, and width */
  padding: 8px; /* Optional: Add padding to cells for better appearance */
}

.font-lato-black {
  font-family: "Lato Black" !important;
}
.font-lato-bold {
  font-family: "Lato Bold" !important;
}
.font-lato-regular {
  font-family: "Lato Regular" !important;
}

.text-650 {
  color: var(--surface-650) !important;
}
.text-660 {
  color: var(--surface-660) !important;
}
.text-750 {
  color: var(--surface-750) !important;
}
.text-725 {
  color: var(--surface-725) !important;
}
.text-775 {
  color: var(--surface-775) !important;
}
.text-850 {
  color: var(--surface-850) !important;
}
.text-green-850 {
  color: var(--green-850) !important;
}
.text-red {
  color: var(--red-650) !important;
}
.text-underline {
  text-decoration: underline !important;
}
.shrink-0 {
  flex-shrink: 0;
}
.p-tag {
  padding: 0.25rem 0.4rem;
  border-radius: 2px;
  min-width: 76px;
}
.btn-transparent {
  color: #fff;
  background: transparent !important;
  border: 1px solid transparent !important;
}
.btn-transparent:hover,
.btn-transparent:focus {
  color: #333 !important;
  background: #f8f9fa !important;
  border: 1px solid #f8f9fa !important;
  box-shadow: none;
}

.btn-transparent .p-button-icon {
  color: #004374;
}
.btn-transparent:active {
  outline: none;
}
.br-1-700 {
  border-right: 1px solid #e0e0e0;
}
.dash-progressBar {
  .p-progressbar {
    height: 8px !important;
    border-radius: 0px !important;
    background: transparent !important;

    &.primary {
      .p-progressbar-value {
        background: #22838f;
      }
    }
    &.warning {
      .p-progressbar-value {
        background: #fe8730;
      }
    }
    &.danger {
      .p-progressbar-value {
        background: #e8424b;
      }
    }
  }
}
label {
  font-size: 16px;
  font-weight: 700;
  display: block !important;
  margin-bottom: 5px;
}
.p-radiobutton-label {
  font-size: 14px;
  font-weight: 400;
  display: block !important;
  margin-bottom: 0px;
}
.p-dialog .p-dialog-header {
  border-bottom: 1px solid #d8d8d8;
}
.field-radiobutton {
  label {
    margin-bottom: 0px;
  }
}
.card {
  height: 100%;
}
.p-button-primary:enabled:hover,
.p-button-primary:focus {
  background: #2b9dab;
  color: #ffffff;
  border-color: #2b9dab;
}
.form-control {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 0px;
  width: 100%;
}

.accordion-transparent {
  .p-accordion {
    .p-accordion-header {
      .p-accordion-header-link {
        border: 1px solid #004374;
        color: #fff;
        background: #004374;
        border-left: 0px;
        border-right: 0px;
      }
    }
  }
}
.p-button {
  &.btn-transparent-green {
    color: #22838f;
    background: transparent;
    border: 1px solid #22838f;
    &:enabled {
      &:hover {
        color: #fff;
        background: #22838f;
        border: 1px solid #22838f;
      }
    }
    &:hover,
    &:active {
      color: #fff;
      background: #22838f;
      border: 1px solid #22838f;
    }
  }
}
.p-button-label {
  font-weight: normal;
}
.p-scrollpanel.scroll-color .p-scrollpanel-bar {
  background-color: #979797;
}
.theme-custombar {
  .p-scrollpanel {
    .p-scrollpanel-bar {
      background: #979797;
    }
  }
}

.p-fluid .p-inputtext {
  width: 100%;
}
.list-hover {
  li {
    &:hover {
      background-color: #f1f5ff;
      cursor: pointer;
    }
  }
}
.item-hover {
  &:hover {
    background-color: #39b349;
    cursor: pointer;
  }
}

.layout-main-container {
  padding: 50px 0 0 0;
  background-color: #f3f3f3;
  background-image: url("../assets/images/section-bg.png");
  background-size: cover;
  background-position: center center;
}
.layout-main {
  & > .grid {
    margin: 0px;

    & > [class*="col"] {
      padding: 0px 0.5rem;
    }
  }

  .layout-innermenu {
    height: calc(100vh - 50px);
    padding: 0px !important;
    border: 1px solid #d8d8d8;
    background: #e2e2e2;
    box-shadow: 4px 0px 19px 0px rgba(0, 0, 0, 0.23);

    h2 {
      font-size: 17px;
      margin: 30px 0px 30px 20px;
      font-weight: 700 !important;
    }
    .innermenu-accordion {
      .p-accordion {
        .p-accordion-content {
          padding: 0px;
          border: 0px;
        }
      }
    }
    .innermenu-unit {
      padding: 10px 20px;
      border-bottom: 1px solid #d8d8d8;
      h3 {
        font-size: 14px;
        font-family: "Roboto Bold";
        margin-bottom: 2px;
      }
      .total-employees {
        color: #313131;
        font-size: 10px;
        margin-bottom: 10px;
      }
      .department-manager {
        color: #7d7c7a;
        font-size: 11px;
      }
      &.item-hover:hover {
        h3 {
          color: #fff !important;
        }
        .total-employees {
          color: #fff !important;
        }
        .department-manager {
          color: #fff !important;
        }
      }
    }
  }
  .page-layout {
    .page-actions {
      border: 1px solid #d8d8d8;
      background: var(--secondary-color);

      // .p-element {
      //   margin-right: 15px;
      //   &:last-child {
      //     margin-right: 0px;
      //   }
      // }
    }
    .page-inner {
      padding: 15px;

      .page-left-panel {
        border: 1px solid #cbcbcb;
        padding: 10px;
        height: calc(100vh - 155px);
        overflow: hidden;
        background-color: #fff;
      }
      .page-main-panel {
        padding: 30px;
        border: 1px solid #cbcbcb;
        background-color: #fff;

        .user-profile {
          .user-profile-image {
            height: 150px;
            width: 150px;
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-right: 20px;
            position: relative;
            .edit-profile {
              position: absolute;
              top: 30px;
              right: 20px;
              background-color: #fff;
              padding: 4px;
              border: 1px solid #a1a1a1;
              cursor: pointer;
              display: none;
            }
            &:hover {
              .edit-profile {
                display: block;
              }
            }
          }
          .user-status {
            position: relative;
            padding-left: 12px;

            &.active-status {
              &::before {
                content: "\a";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #35b568;
                display: inline-block;
                margin-right: 5px;
                position: absolute;
                top: 0px;
                left: 0px;
              }
            }

            &.inactive-status {
              &::before {
                content: "\a";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #dc2626;
                display: inline-block;
                margin-right: 5px;
                position: absolute;
                top: 0px;
                left: 0px;
              }
            }
          }
        }
      }
    }
  }
}

.dashboard-layout {
  padding: 20px;

  h1 {
    font-size: 34px;
  }
  ul.bordered {
    padding: 0px;
    margin: 0px;

    li {
      padding: 15px 0px;
      border-bottom: 1px solid #ccc;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0px;
      }
      // .job-description {
      //   h5 {
      //     color: #22838f;
      //     font-size: 14px;
      //     font-family: "Roboto Bold";
      //     margin-bottom: 2px;
      //   }
      //   .job-date {
      //     font-size: 12px;
      //   }
      // }
      // .total-applications {
      //   font-size: 12px;
      // }
    }
  }
  .p-card {
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    height: 100%;

    .p-card-title {
      color: #191919;
      font-size: 18px;
      font-family: "Roboto Bold";
    }
  }
  .card-header {
    .p-card-title {
      margin-bottom: 25px;
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1101;
  background: rgba(255, 255, 255, 0.8) url("/assets/images/loader.gif") center
    no-repeat;
}

/* Turn off scrollbar when body element has the loading class */
body.loading {
  overflow: hidden;
}

/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
  display: block;
}
.esri-view-root {
  position: relative;
}
.calcite-mode-light {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  bottom: 10px !important;
  left: auto !important;
  background: #fff;
  width: 75px;
  padding: 5px;
  border-radius: 3px;
}
.map-wrapper {
  position: relative;
  .map-search {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    .map-search-result {
      background-color: #fff;
      margin: 5px 0px 0px;
      padding: 10px;
      list-style-type: none;
    }
  }
}
.text-wrap {
  overflow-wrap: anywhere;
}

.p-organizationchart {
  transition: transform 0.3s ease; /* Add a smooth transition effect for zooming */
}
.editor-height-200 .ck-editor__editable_inline {
  min-height: 200px;
}
.w-full input {
  width: 100%;
}
.column-border:nth-child(odd) {
  border-right: 1px solid #e0e0e0;
  padding-right: 1rem;
}
.column-border:nth-child(even) {
  padding-left: 1rem;
}

.layout-menu > li > ul > li {
  position: relative;
}
.layout-static-inactive {
  .layout-menu > li {
    > ul > li {
      .layout-menuitem-text,
      .layout-submenu-toggler {
        display: none;
      }
      &:hover {
        .layout-menuitem-text,
        .layout-submenu-toggler {
          display: block;
          color: #fff;
        }
        ul {
          display: block;
          width: 200px;
          border-radius: 0px;
        }
        a {
          background-color: var(--secondary-color);
          width: 200px;
          transition: none;
        }
      }
      a {
        width: 50px;
      }
      ul {
        display: none;
        li > a {
          margin-left: 0px !important;
        }
      }
    }
  }
}
