<p-toast></p-toast>
<div class="grid">
  <div class="col-12 page-layout">
    <div class="page-inner">
      <h1 class="text-850 font-bold text-4xl mb-1">Welcome {{ name }}</h1>
      <h2 class="text-850 font-bold text-2xl mb-1"> {{todayDate}}</h2>
    </div>
  </div>

  <div class="col-12 md:col-3 lg:col-3 ml-1" >
    <div class="card" style="background-color: rgb(7, 155, 9); border: 0px;">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <h5 class="text-white font-bold text-xl mb-0">Low Priority ToDo</h5>
        <h5 class="text-white font-bold text-xl mb-0">{{todaytranscript}}</h5>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-3 lg:col-3 ml-1" >
    <div class="card" style="background-color: rgb(248, 244, 1); border: 0px;">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <h5 class="text-white font-bold text-xl mb-0">Medium Priority ToDo</h5>
        <h5 class="text-white font-bold text-xl mb-0">{{pendingtranscript}}</h5>
      </div>
    </div>
  </div>


  <div class="col-12 md:col-3 lg:col-3 ml-1">
    <div class="card" style="background-color: rgb(255, 6, 6); border: 0px;">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <h5 class="text-white font-bold text-xl mb-0">High Priority ToDo</h5>
        <h5 class="text-white font-bold text-xl mb-0">{{underprocesstranscript}}</h5>
      </div>
    </div>
  </div>


  <div class="col-12 md:col-3 lg:col-3 ml-1">
    <div class="card" style="background-color: rgb(25, 223, 65); border: 0px;">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <h5 class="text-white font-bold text-xl mb-0"> Complete ToDo</h5>
        <h5 class="text-white font-bold text-xl mb-0">{{readytocollect}}</h5>
      </div>
    </div>
  </div>

  
  <div class="col-12 md:col-3 lg:col-3 ml-1">
    <div class="card" style="background-color: rgb(140, 53, 13); border: 0px;">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <h5 class="text-white font-bold text-xl mb-0"> Passed Due Date Pending ToDo</h5>
        <h5 class="text-white font-bold text-xl mb-0">{{closedtranscript}}</h5>
      </div>
    </div>
  </div>

</div>